.header-image {
    background-image: url("https://img00.deviantart.net/f80b/i/2011/312/c/e/violet_utopia_by_mysterious_one-d4finye.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
